* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	margin: 10px;
	grid-gap: 15px;
	list-style-type: none;
}

@media (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1024px) {
	.gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1200px) {
	.gallery {
		grid-template-columns: repeat(5, 1fr);
	}
}

.gallery img {
	width: 100%;
	height: 100%;
	animation: fade 4s forwards;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
